<div class="container">
  <h1 class="title">About me</h1>
  <div class="text">
    <p class="text__part-1">
      My name is Thomas Menousek. I deal with webdesign, corporate identity, scriptwriting, social networks,
      photography and art concepts.I base myself on professional approach, deadlines, creative innovation and
      UX design.
    </p>
    <p class="text__part-2">
      My key to success on bigger projects is that I have a team of people around them who are professionals in their
      fields like music and film production. I can rely on them at any time, and we can achieve great results. Some
      people talk to me that I'm a little fool and work-hooker. On the other hand, sometimes it is better to live
      what I do and what fills me.If you are interested, do not hesitate to contact me, I will look
      forward to cooperation.
    </p>
  </div>
</div>
