<a class="button button--back"
   routerLink="/work"
   mcrai-flat-button
>
  <mcrai-icon class="icon--back" color="secondary">arrow_left</mcrai-icon>
  back
</a>
<app-carousel #carousel>
  <ng-container *ngIf="reference">
    <ul class="list">
      <li class="item item--description" >
        <h1 class="title">{{ reference.title }}</h1>
        <div class="text">
          <p>{{ reference.text }}</p>
          <h2 class="subtitle">{{ reference.subtitle }}</h2>
          <a class="button button--visite-website"
             target="_blank"
             *ngIf="reference.website"
             [href]="reference.website"
             color="primary"
             mcrai-flat-button>visit website</a>
        </div>
      </li>
      <li class="item" *ngFor="let image of reference.images">
        <img [src]="'../../../../../assets/images/' + image" alt="">
      </li>
      <li class="item" *ngFor="let video of reference.videos">
        <iframe width="840" height="630"
                [src]="getVideoUrl(video)">
        </iframe>
      </li>
    </ul>
  </ng-container>
</app-carousel>
